:root{
	--main-bg-color:	#191b1f;
	--section-bg-color: #1f1f2f;
	--primary-color:		#ffffff;
	--secundary-color: 		#d2d2d2;
	--primary-button:	#f54c28;

	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}

paleta {
	--black-russian: 	#050407;
	--oxford-blue: 		#14213D;
	--orange-web: 		#FCA311;
	--platinum:			#E5E5E5;
	--white: 			#FFFFFF;
	--eerie-black:		#191b1f;
	--steel-gray: 		#1f1f2f;
	--red-orange:		#f54c28;
	--remy:				#f1ded9;
	--Light-Grey:		#d2d2d2;
	--white:			#ffffff;
	--Supernova:		#f5af2e;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}

