@import 'vars';
.hero-container{
    display: grid;
    // min-width: 320px;
    grid-template-columns: 1fr 2fr; 
    // grid-template-rows: 1fr; 
    // gap: 0px 0px; 
    background-color: var(--section-bg-color);
    border-radius: 9px;
    margin:0 28px;
    border: 1px solid var(--primary-button); 
}
.hero-container .picture,
.hero-container .info
{
    height: auto;
}
.hero-container .picture{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.hero-container .picture img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;

}
.hero-container .info{
    padding: 2px 12px;
}

.hero-container .info h1{
    font-size: var(--sm);
    color: var(--primary-color);
    text-align: start;
    
}

.hero-container .info p{
    font-size: var(--sm);
    color: var(--secundary-color);
    text-align: initial;
}

@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}