@import 'vars';

.portfolio{
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
}
.portfolio__container{
    width: 100%;
    // margin-top: 10px;
}
.portfolio__container h2{
    font-size: var(--lg);
    color: var(--primary-color);
    text-align: center;
    margin: 16px 30px;
}
.portfolio__project{
    background-color: var(--section-bg-color);
    height: auto;
    margin: 28px;
    border-radius: 9px;
    border: 1px solid var(--primary-button); 
    padding: 12px;
}

.portfolio__project--title,
.portfolio__project--course{
    margin: 0;
}

.portfolio__project--title{
    color: var(--primary-color);
    font-size: var(--lg);
}

.portfolio__project--course{
    color: var(--primary-color);
    font-size: var(--md);
}
.portfolio__project--details ul{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
}
.portfolio__project--details ul li{
    text-decoration: none;
    border: 1px solid var(--secundary-color);
    color: var(--secundary-color);
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: 5px;
}
.portfolio__project--description{
    color: var(--secundary-color);
    font-size: var(--md);
}
.portfolio__project--image-container{
    margin: 0;
}
.portfolio__project--image-container .portfolio__project--image{
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}


@media (min-width: 576px){
    .portfolio{
        width: 320px;
    }
}
@media (min-width: 768px){
    .portfolio{
        width: 320px;
    }
}
@media (min-width: 992px){
    .portfolio{
        width: 320px;
    }
}
@media (min-width: 1200px){
    .portfolio{
        width: 320px;
    }
}