@import 'vars';

.portfolio{
    margin:0 28px;
}
.portfolio__container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
}


.portfolio h2{
    margin: 15px 0;
    font-size: var(--lg);
    color: var(--primary-color);
    text-align: center;

}
.portfolio__project{
    background-color: var(--section-bg-color);
    height: auto;
    border-radius: 9px;
    border: 1px solid var(--primary-button); 
    padding: 12px;
    transition: transform .75s;

    
}
.portfolio__project:hover{
    transform: scale(1.06);
    transition-duration: .6s;

}
.portfolio__project--title,
.portfolio__project--course{
    margin: 0;
}

.portfolio__project--title{
    color: var(--primary-color);
    font-size: var(--lg);
}

.portfolio__project--course{
    color: var(--primary-color);
    font-size: var(--md);
}
.portfolio__project--details ul{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    margin: 10px 0;
}
.portfolio__project--details ul li{
    text-decoration: none;
    border: 1px solid var(--primary-button); 
    color: var(--secundary-color);
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: 5px;
}
.portfolio__project--description{
    color: var(--secundary-color);
    font-size: var(--md);
}
.portfolio__project--image-container{
    width: 98%;
}
.portfolio__project--image-container .portfolio__project--image{
    margin-top: 24px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}


@media (min-width: 640px){


}
@media (min-width: 768px){
    .portfolio__project{
        display: grid;
        grid-template-columns: 1fr 2fr;
        // align-items: center;
    }
    .portfolio__project--details{
        margin-top: 20px;
    }
    .portfolio__project--image-container .portfolio__project--image{
        margin-top: 0;
    }
}
@media (min-width: 1024px){
 
}
